.test p{
	font-size: 25px;
}

.feed1 a{
	display: block;
	padding-top: 5px;
	width: 200px;
	float: left;
}

.feed1 p{
	font-size: 30px;
}

.feed1 {
	width: 1000px;
	overflow: hidden;
	zoom: 1;
	max-width: 95%;
	margin-top: 20px;
	margin-right: auto;
}

/*div{
	display: block;
}*/